<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header</title>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
<footer th:fragment="footer" class="py-3">
    <div class="copy-bottom-txt text-center py-3">
        <p>
            © 2022 Name Site. All Rights Reserved
        </p>
    </div>
    <div class="social-icons mt-lg-3 mt-2 text-center">
        <ul>
            <li><a href="https://github.com/HalinaKor"><span class="fa fa-github"></span></a></li>
            <li><a href="https://www.linkedin.com/in/galina-korolyova-0895451b5/"><span class="fa fa-linkedin"></span></a></li>
        </ul>
    </div>
</footer>
</body>
</html>